footer {
  width: 100%;
  display: block;
  margin-top: auto;
  width: 100%;
  display: block;
  padding: 0.25rem 0.5rem;
  width: 100vw;
  background-color: var(--background_secondary);
  box-shadow: var(--box_shadow);
  border-bottom: 1px solid var(--background);
  .container {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  p {
    font-size: 0.86rem;
    a {
      font-size: inherit;
      color: var(--primary_color);
    }
  }
}